@import "./variable.scss";
#home-page-styles {
  position: relative;
  display: flex;
  .button {
    display: flex;
    justify-content: center;
    border-radius: 8px;
    padding: 10px;
    max-width: 120px;

    color: white;
    background-color: $primary-color;
  }

  .images {
    position: absolute;
    right: -10px;
    display: flex;
    gap: 10px;
    width: 50%;
    overflow-x: hidden;
    div {
      background: gray;
      width: 70%;
      height: 400px;
    }
  }
}
